.box {
  width: 50%;
  height: 400px;
}

.contentListItem {
  width: 100%;
  flex-direction: column wrap;
  border-bottom-color: black;
  border-bottom-width: 1px;
  flex: 1;
  display: flex;
}

.boxTitle{
  font-size: 14px;
  height: 50px;
  margin-bottom: 5px;
  color: #737373;
  text-align: left;
  padding-top: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formBox{
  width:  100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  flex: 1;
  
  flex-direction: row wrap;
  overflow: scroll;
  
}

.checkBox {
  margin-top: 15px;
  height: 15px;
  margin-left: 0px;
  margin-right: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  display: flex;
  width: 15px;
  /* flex-flow: row wrap; */
}

.contentIcon {
  margin-left: 20px;
  margin-right: 20px;
}

.listItem {
  height: 44px;
  margin: 0px;
  padding-left: 10px;
  border-bottom: 1px solid #CDCDCD;
  display: flex;
  background-color: white;
}


.contentList {
  flex: 1;
  padding: 0px;
  margin: 0px;
  height: 300px;
  background-color: lightgrey;
  overflow: scroll;
}

.itemTitle {
  flex: 1;
  height: 20px;
  padding: 0px;
  margin: 12px;
  background-color: white;
}
.leftContainer {
  display: flex;
  flex-flow: row wrap;
  width: 60%;
  /* margin-Top: 10px; */
  margin-Left: 21px;
  margin-bottom: 10px;
  background-Color:white;
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
  overflow: scroll;
  /* padding: 20px; */
}

/* .listItem {
  height: 40px;
} */

.buttonsBox {
  display: flex;
  flex-flow: column wrap;
}

.typeButton {
  height: 60px;	
  width: 400px;	
  border: 1px solid #979797;	
  border-radius: 4px;	
  margin: 5px;
  font-size: 20px;
  color: #4A4A4A;
  text-align: left;
  padding-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 0.4em;
}

button {
  cursor: pointer;
}

.button-big {
  display: block;
  margin: 1em 0;
  background-color: #299fca;
  font-size: 1.2em;
  color: white;
  padding: 0.8em 1.2em;
  border-radius: 4px;
  border: 0;
}

.current-content {
  width: 500px;
}

.current-content__list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 200px;
  background-color: #fbfbfb;
  border: 1px solid #e2e2e2;
  overflow-y: scroll;
}

.current-content__list li {
  display: flex;
  align-items: center;
  margin: -1px -1px 0 -1px;
  height: 40px;
  background-color: white;
  border: 1px solid #e2e2e2;
  vertical-align: middle;
}

.current-content__icon {
  margin: 0 20px;
}

.current-content__title {
  flex: 1;
}

.current-content__view  {
  padding: 0 20px;
  text-decoration: none;
  color: #828282;
  line-height: 40px;
}
